<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

# **Objectives:**
- List some of the popular languages used by data scientists
- List some of the most commonly used libraries by data scientists
- Create a table with the most used open source tools in data science
- Create headers
- Create some arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. Pandas

| Data Science Tools |
| ------------------ |
| RStudio |
| TensorFlow |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers

x=3
y=4
z=5

awnser=(x*y)+z

print(awnser)

17

In [4]:
# This will convert 200 minutes to hours by diving by 60

x=200

awnser=x/60

print(awnser)

3.3333333333333335

## Author 
Guilherme Tavares